<div class="index-content">
  <div class="row profile-cards">

    <% 10.times do %>
      <% @listings.each do |listing| %>

        <!-- Start of the card -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
          <div class="card profile-card">
            <div class="profile-card-cover" style="background-image: url('<%= cl_image_path listing.photo.path %>')"></div>
            <%= cl_image_tag listing.user.photo.path, crop: :fill, width: 100, height: 100, class: "profile-card-avatar" %>
            <div class="profile-card-body">
              <h4 class="profile-card-first-name"><%= listing.title %></h4>
              <h6 class="profile-card-interests">Starting from €30</h6>

              <p class="profile-card-description"><%= listing.caption %></p>
            </div>
            <%=  link_to "", listing_path(listing), class: "profile-card-link", target: "_blank" %>
          </div>
        </div>
        <!-- Start of the card -->

      <% end %>
    <% end %>
  </div>

  <div id="map"></div>

  <!-- Gmaps js: building the map -->
  <script>
    function initMap() {
      // Create a map object and specify the DOM element for display.
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 52.5206, lng: 13.4098},
        scrollwheel: false,
        zoom: 8
      });
    }
  </script>
  <!-- Gmaps JavaScript -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
  </script>
</div>
