<div class="show-banner">

   <div class="site-wrapper">

     <div class="site-wrapper-inner">

        <div class="cover-container">

 +        <% if @listing.photo? %>
 +          <%= cl_image_tag @listing.photo.path, width: 300, crop: :fill %>
 +        <% end %>
 +
 +
 +        <%= cl_image_tag @listing.user.photo.path %>
 +
          <main role="main" class="inner cover">
 -          <h1 class="cover-heading">Cover your page.</h1>
 -          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
 +          <h1 class="cover-heading"><%= @listing.title %></h1>
 +          <h2 class="cover-heading"><%= @listing.caption %></h2>
 +          <p class="lead"><%= @listing.description %></p>
 +          <p class="lead"><%= @listing.address %></p>
            <p class="lead">
 -            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
 +            <a href="#" class="btn btn-lg btn-primary">Learn more</a>
            </p>
          </main>

 +        <!-- Booking form -->
 +        <%= @listing.price %>
 +        <%= simple_form_for [@listing, @booking] do |f| %>
 +          <%= f.input :start_date %>
 +          <%= f.input :end_date %>
 +          <%= f.submit "Book now", class: "btn btn-primary" %>
 +        <% end %>
 +
        </div>

      </div>

    </div>
 -</div>

 -<h1>Listings#show</h1>
 -<p>Find me in app/views/listings/show.html.erb</p>
 +</div>
