<div class="wrapper wrapper-rel">
  <div class="page-header " style="background-image: url('<%= cl_image_path @listing.photos.first.path %>')">
    <div class="filter"></div>
    <div class="content-center parmesan">

      <div class="motto">
        <h1 class="text-center show-title"><%= @listing.title %></h1>
        <h3 class="text-center show-caption"><%= @listing.caption %></h3>
      </div>

      <div class="motto">
        <%= link_to user_path(@listing.user) do %>
          <%= cl_image_tag @listing.user.photos.first.path, crop: :fill, width: 300, height: 300, class: "show-img-circle img-responsive text-center media-object", alt: "Rounded Image" %>
        <% end %>

        <h3 class="text-center"><%= @listing.user.first_name %></h3>
        <p></p>
        <% if @listing.user == current_user %>
          <%= link_to "Edit listing", edit_listing_path, class: "btn btn-edit btn-wd btn-lg text-center" %>
          <%= link_to "Timetable", new_listing_event_path(@listing), class: "btn btn-primary btn-wd btn-lg text-center" %>
        <% else %>
          <%= link_to "Book a spot", listing_events_path(@listing), class: "btn btn-primary btn-wd btn-lg text-center"%>
        <% end %>
        <p></p>

        <% if @listing.events.exists? %>
          <% lowest_priced_event = @listing.events.min_by { |h| h.price} %>
          <p style="font-weight: 100;">From <strong><%= humanized_money_with_symbol(lowest_priced_event.price) %></strong></p>
        <% else %>
          <p style="font-weight: 100;">No classes atm</p>
        <% end %>

      </div>

    </div>
  </div>

  <div class="arrow bounce">
    <a class="ion-ios-arrow-down" href="#listing-about"></a>
  </div>

  <div class="main">

    <div class="section section-chevron" id="listing-about">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 text-center spacious">
            <!-- <h2 class="h2-title">What you'll do</h2> -->
            <h3 class="h3-title">What you'll be doing</h3>
            <p class="show-p"><%= @listing.description %></p>
            <p class="show-p">Take a break from hectic pace of modern life and immerse yourself in Finnish nature, easing your stresses away. Explore Finnish forests and the beautiful Baltic coast, enjoy traditional Finnish saunas and eat pure, fresh, healthy, wild food. During this trip, you can fish, row, kayak, practice Nordic walking, enjoy saunas and swim in and around beautiful archipelago off the western coast of Finland.</p>
            <%= @listing.address %>
            <p class="show-p"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-gray">
      <div class="container">
        <div class="row">

          <div class="col-md-8 ml-auto mr-auto">

            <div class="show-card">

              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o8bxrnliSts?rel=0" allowfullscreen></iframe>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- <div class="section" id="carousel">
      <div class="container">

          <div class="col-md-8 ml-auto mr-auto">
            <%# @listing.photos.each do |photo| %>
              <%# cl_image_tag photo.path, crop: :fill %>
              </div>
            <%# end %>
          </div>

      </div>
    </div> -->

    <div class="section">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-6 offset-md-3 text-center">

            <%= cl_image_tag @listing.user.photos.first.path, crop: :fill, width: 300, height: 300, class: "show-img-circle img-responsive text-center media-object", alt: "Rounded Image" %>

            <h5 style="margin-top: 20px;"><%= @listing.user.first_name %></h5>
            <p class="show-p"><%= @listing.user.bio %></p>
            <br/>
            <!-- <a href="#" class="btn btn-primary btn-wd">View Profile</a> -->
          </div>

          <div class="col-md-8 col-lg-10 ml-auto mr-auto text-center spacious">
            <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDg2ZfmYz-6webKZjOAQLva8XJ7eBjn1vw&q=<%= @listing.latitude %>,<%= @listing.longitude %> "
             allowfullscreen>
            </iframe>
          </div>

        </div>
      </div>
    </div>

    <div class="section section-gray">
        <div class="container">

          <!-- All reviews -->
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="media-area">

                <h3 class="text-center">Guestbook posts · (<%= @listing.reviews.count %>)</h3>

                <% if @listing.reviews.blank? %>

                  <p class="text-center" style="margin-top: 20px;">Be the first to leave a post in <%= @listing.user.first_name %>'s guestbook</p>

                <% else %>

                  <% @listing.reviews.each do |review| %>

                    <!-- Review -->
                    <div class="media">

                      <a class="pull-left" href="#">
                        <div class="avatar">
                          <%= cl_image_tag review.user.photos.first.path, crop: :fill, height: 100, width: 100, class: "media-object" %>
                        </div>
                      </a>

                      <div class="media-body">
                        <h5 class="media-heading"><%= review.user.first_name %></h5>
                        <div class="pull-right">
                          <h6 class="text-muted"> <%= review.created_at.strftime("%b %e %Y") %></h6>
                        </div>
                        <p><%= review.content %></p>
                      </div>

                    </div>

                  <% end %>

                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>


      <% if current_user && !current_user.has_reviewed?(@listing) %>
        <!-- Post a review section -->
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">

                <h3 class="text-center">Post to the guestbook</h3>

                <div class="media media-post">

                  <a class="pull-left author" href="#">
                    <div class="avatar">
                      <%= cl_image_tag current_user.photos.first.path, crop: :fill, height: 100, width: 100, class: "media-object" %>
                    </div>
                  </a>

                  <style>
                    form#new_review.simple_form.new_review {
                      width: 100%;
                    }
                  </style>

                  <%= simple_form_for([ @listing, @review ], class: "media media-post media-body", style: "width: 100%;") do |form| %>
                    <%= form.input :content, as: :text, placeholder: 'Your post here...', class: "form-control border-input", label: false %>
                    <div class="media-footer">
                      <%= form.button :submit, class: "btn btn-primary btn-wd pull-right" %>
                    </div>
                  <% end %>

                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>
