<div id="reviews">
  <% if @listing.reviews.blank? %>
    Be the first to leave a review for <%= @listing.title %>
  <% else %>
    <% @listing.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>

<%= render 'reviews/form', listing: @listing, review: @review %>


<div class="wrapper">

  <div class="page-header " style="background-image: url('<%= cl_image_path @listing.photos.first.path %>')">
    <div class="filter"></div>
    <div class="content-center">

      <div class="motto">
        <h1 class="text-center show-title"><%= @listing.title %></h1>
        <h3 class="text-center show-caption"><%= @listing.caption %></h3>
      </div>

      <div class="motto">
        <%= cl_image_tag @listing.user.photos.first.path, crop: :fill, width: 300, height: 300, class: "show-img-circle img-responsive text-center media-object", alt: "Rounded Image" %>
        <h3 class="text-center"><%= @listing.user.first_name %></h3>
        <p></p>
        <% if @listing.user == current_user %>
          <%= link_to "Edit listing", edit_listing_path, class: "btn btn-edit btn-wd btn-lg text-center" %>
          <%= link_to "Timetable", new_listing_event_path(@listing), class: "btn btn-primary btn-wd btn-lg text-center" %>
        <% else %>
          <%= link_to "Book a spot", listing_events_path(@listing), class: "btn btn-primary btn-wd btn-lg text-center"%>
        <% end %>
        <p></p>
        <p style="font-weight: 100;">From <strong>&euro; 975.00</strong></p>
      </div>

    </div>
  </div>

  <div class="arrow bounce">
    <a class="ion-ios-arrow-down" href="#"></a>
  </div>

  <div class="main">

    <div class="section section-chevron">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3 text-center spacious">
            <!-- <h2 class="h2-title">What you'll do</h2> -->
            <h3 class="h3-title">What you'll be doing</h3>
            <p class="show-p"><%= @listing.description %></p>
            <p class="show-p">Take a break from hectic pace of modern life and immerse yourself in Finnish nature, easing your stresses away. Explore Finnish forests and the beautiful Baltic coast, enjoy traditional Finnish saunas and eat pure, fresh, healthy, wild food. During this trip, you can fish, row, kayak, practice Nordic walking, enjoy saunas and swim in and around beautiful archipelago off the western coast of Finland.</p>
            <%= @listing.address %>
            <p class="show-p"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="section section-gray">
      <div class="container">
        <div class="row">

          <div class="col-md-8 ml-auto mr-auto">

            <div class="show-card">

              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o8bxrnliSts?rel=0" allowfullscreen></iframe>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="section" id="carousel">
      <div class="container">

          <div class="col-md-8 ml-auto mr-auto">
            <% @listing.photos.each do |photo| %>
              <% cl_image_tag photo.path, crop: :fill %>
              </div>
            <% end %>
          </div>

      </div>
    </div>

    <div class="section section-gray">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-6 offset-md-3 text-center">
            <%= image_tag "user-jeremy.jpg", class: "show-img-circle img-no-padding img-responsive show-avatar", alt: "Rounded Image" %>
            <h5 style="margin-top: 20px;">Joe Gardner</h5>
            <p class="show-p">Constructed from robust full-grain leather, it's finished with the label's 'city webbing' - a rich take on the brand's signature stripes.</p>
            <br/>
            <!-- <a href="#" class="btn btn-primary btn-wd">View Profile</a> -->
          </div>

          <div class="col-md-8 col-lg-10 ml-auto mr-auto text-center spacious">
            <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDg2ZfmYz-6webKZjOAQLva8XJ7eBjn1vw&q=<%= @listing.latitude %>,<%= @listing.longitude %> "
             allowfullscreen>
            </iframe>
          </div>

        </div>
      </div>
    </div>

    <div class="section section-nude-gray">
        <div class="container">

          <!-- All reviews -->
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="media-area">

                <h3 class="text-center">Guestbook · (10)</h3>

                <!-- Review -->
                <div class="media">

                  <a class="pull-left" href="#">
                    <div class="avatar">
                      <%= image_tag "user-jeremy.jpg", class: "media-object", alt: "Rounded Image" %>
                    </div>
                  </a>

                  <div class="media-body">
                    <h5 class="media-heading">Flume</h5>
                    <div class="pull-right">
                      <h6 class="text-muted">Nov 14, 2017</h6>
                    </div>
                    <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                  </div>
                </div>

                <div class="media">
                  <a class="pull-left" href="#">
                    <div class="avatar">
                      <%= image_tag "user-jeremy.jpg", class: "media-object", alt: "Rounded Image" %>
                    </div>
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading">Banks</h5>
                    <div class="pull-right">
                      <h6 class="text-muted">Nov 11, 2017</h6>
                    </div>
                    <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                    <p> Don't forget, You're Awesome!</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Post a review section -->
      <div class="section section-gray">
        <div class="container">
          <div class="row">

            <div class="col-md-8 ml-auto mr-auto">

              <h3 class="text-center">Post to the guestbook</h3>

              <div class="media media-post">
                <a class="pull-left author" href="#">
                  <div class="avatar">
                    <%= image_tag "user-jeremy.jpg", class: "media-object", alt: "Rounded Image" %>
                  </div>
                </a>
                <div class="media-body">
                  <textarea class="form-control border-input" placeholder="Your review here..." rows="6"></textarea>
                  <div class="media-footer">
                    <a href="#" class="btn btn-primary btn-wd pull-right">Post Review</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

  </div>
</div>
