<style>
  .stripe-button-el {
    all: unset;
  }
  .stripe-button-el span {
    all: unset;
  }
  .stripe-button-el span:focus {
    all: unset;
  }
  .stripe-button-el:hover {
    color: #ffffff;
    background-color: $konarciq !important;
    border-color: $konarciq;
  }
  .stripe-button-el {
    background-color: #00C175;
    border: 1px solid #00C175;
    padding: 0.5rem 3rem;
    color: #fff;
    font-weight: 500;
    -webkit-box-shadow: 0 6px 32px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 32px rgba(0, 0, 0, 0.15);
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease, -webkit-transform 300ms cubic-bezier(0.34, 2, 0.6, 1), -webkit-box-shadow 200ms ease;
    float: right;
    text-align: center !important;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    touch-action: manipulation;
    box-sizing: border-box;
    align-items: flex-start;
    cursor: default;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
    -webkit-tap-highlight-color:
  }
  .stripe-button-el:hover {

  }
</style>

<%= form_tag [@listing, @event, @booking] do %>
<div class="section">
  <div class="container" style="height: 100vh;">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center show-title">Finish Purchase</h1>
      </div>
      <div class="col-md-8 ml-auto mr-auto">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Event name</th>
                <th>Time</th>
                <th>Guide</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @listing.title %></td>
                <td><%= @event.start_date.strftime("%b %e %Y") %></td>
                <td><%= @listing.user.first_name %></td>
                <td><%= humanized_money_with_symbol(@event.price) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="Konarciq - Booking"
          data-email="<%= current_user.email %>"
          data-description="<%= @booking.event_sku %>"
          data-amount="<%= @booking.amount_cents %>"
          data-currency="<%= @booking.amount.currency %>">
        </script>
      </div>
    </div>
  </div>
</div>
<% end %>
