<%= simple_form_for [@listing, @event, @booking] do |f| %>
  <div class="section section-gray">
    <div class="container" style="height: 100vh;">
      <div class="row">

        <div class="col-md-8 ml-auto mr-auto">

          <h1 class="text-center show-title">Finish Purchase</h1>
          <p style="margin-bottom: 5px;">Add message <%= @listing.user.first_name %>? (Optional)</p>

          <div class="media media-post" style="margin-top: 0px;">
            <div class="media-body">

              <%= f.input :customer_message, class: "form-control border-input", placeholder: "Your message here...", maxlength: "300", rows: "6", label: false  %>
              <div class="media-footer">
              <%= button_tag type: 'Continue to payment', class: "btn btn-primary btn-lg text-center pull-right" do %>
                  Pay now&nbsp;&nbsp;<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>


<h1>Purchase of Event <%= @booking.event_sku %></h1>
<%= form_tag [@listing, @event, @booking] do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@booking.amount) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Event"
    data-email="<%= current_user.email %>"
    data-description="Event <%= @booking.event_sku %>"
    data-amount="<%= @booking.amount_cents %>"
    data-currency="<%= @booking.amount.currency %>">
  </script>
<% end %>

