<%= simple_form_for [@listing, @event, @booking] do |f| %>
  <div class="section section-gray">
    <div class="container" style="height: 100vh;">
      <div class="row">

        <div class="col-md-8 ml-auto mr-auto">

          <h4 class="text-center">Add message to <%= @listing.user.first_name %>?</h4>

          <div class="media media-post">
            <div class="media-body">
              <%= f.input :customer_message, class: "form-control border-input", placeholder: "Your message here...", maxlength: "300", rows: "6", label: false  %>
              <div class="media-footer">
              <%= f.submit "Continue to payment", class: "btn btn-primary btn-lg text-center pull-right" %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_tag orders_path do %>
  <%= hidden_field_tag 'teddy_id', @teddy.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
