

<div class="wrapper profile-page">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: linear-gradient(-160deg, #441a1abd 40%, rgba(98, 74, 3, 0.49) 80%), url('https://images.unsplash.com/photo-1502082553048-f009c37129b9?auto=format&fit=crop&w=1500&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');">
  <div class="filter"></div>
   </div>
   <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <%= cl_image_tag @user.photos.first.path, crop: :fill, width: 300, height: 300, class: "avatar show-img-circle img-responsive text-center media-object profile-page-img-circle", alt: "Rounded Image" %>
        </div>
        <div class="name">
          <h3 class="text-center"><%= @user.first_name %><br /></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <p>Bio here<%= @user.bio %></p>
          <br />
          <btn class="btn-dark-edit"><i class="fa fa-cog"></i> Edit profile</btn>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= @user.listings.each do %>
<%# end %>

<div class="wrapper">
  <div class="page-header page-header-xs settings-background" style="background-image: url('../assets/img/sections/joshua-earles.jpg');">
    <div class="filter"></div>
  </div>
  <div class="profile-content section">
    <div class="container">
      <div class="row">
        <div class="profile-picture">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new img-no-padding">
              <img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="...">
            </div>
            <div class="fileinput-preview fileinput-exists img-no-padding"></div>
            <div>
              <span class="btn btn-outline-default btn-file btn-round"><span class="fileinput-new">Change Photo</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
              <br />
              <a href="#paper-kit" class="btn btn-link btn-danger fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <form class="settings-form">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control border-input" placeholder="First Name">
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="form-group">
                  <label>Last Email</label>
                  <input type="text" class="form-control border-input" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Job Title</label>
              <input type="text" class="form-control border-input" placeholder="Job Title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control textarea-limited" placeholder="This is a textarea limited to 150 characters." rows="3", maxlength="150" ></textarea>
              <h5><small><span id="textarea-limited-message" class="pull-right">150 characters left</span></small></h5>
            </div>

            <label>Notifications</label>
            <ul class="notifications">
              <li class="notification-item">
                Updates regarding platform changes
                <input type="checkbox" data-toggle="switch" checked="" data-on-color="info" data-off-color="info"><span class="toggle"></span>
              </li>
              <li class="notification-item">
                Updates regarding product changes
                <input type="checkbox" data-toggle="switch" checked="" data-on-color="info" data-off-color="info"><span class="toggle"></span>
              </li>
              <li class="notification-item">
                Weekly newsletter
                <input type="checkbox" data-toggle="switch" checked="" data-on-color="info" data-off-color="info"><span class="toggle"></span>
              </li>
            </ul>
            <div class="text-center">
              <button type="submit" class="btn btn-wd btn-info btn-round">Save</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>













<div class="index-content">
  <div class="row profile-cards">

    <% @user.listings.each do |listing| %>

      <!-- Start of the card -->
      <div class="col-xs-12 col-md-6 col-xl-3">
        <div class="card profile-card">
          <div class="profile-card-cover" style="background-image: url('<%= cl_image_path listing.photos.first.path %>')"></div>
          <%= cl_image_tag listing.user.photos.first.path, crop: :fill, width: 100, height: 100, class: "profile-card-avatar" %>
          <div class="profile-card-body">

            <h5 class="small-h5"><strong>NATURE · DENMARK</strong></h5>
            <h4 class="profile-card-first-name"><%= listing.title %></h4>
            <% if listing.events.exists? %>
              <% lowest_priced_event = listing.events.min_by { |h| h.price} %>
              <h6 class="profile-card-interests" style="padding-bottom: 11px;">Starting at <%= humanized_money_with_symbol(lowest_priced_event.price) %></h6>
            <% else %>
              <h6 class="profile-card-interests">No classes atm</h6>
            <% end %>
          </div>
          <div style="@media (max-width: 576px) { display: none; }">
            <%= link_to "", listing_path(listing), class: "profile-card-link", target: "_blank" %>
          </div>
          <div style="@media (min-width: 576px) { display: none; }">
            <%= link_to "", listing_path(listing), class: "profile-card-link" %>
          </div>
        </div>
      </div>
      <!-- End of the card -->
    <% end %>
  </div>
</div>
