<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <div class="container">
    <div class="col-md-9 col-lg-6 ml-auto mr-auto devise">
      <form class="form-devise">
        <h2 class="form-devise-heading">Forgot your password?</h2>


        <%= f.input :email, required: true, autofocus: true, class: "form-control input-email", placeholder: "Your email address", id: "inputEmail", label: false %>

        <%= f.button :submit, "Send instructions", class: "btn btn-lg btn-primary btn-block" %>
        <p></p>
        <p><%= render "devise/shared/links" %></p>

      </form>
    </div>
  </div>
<% end %>
