
    <%= form_tag listings_path, method: 'get', class: "form-inline justify-content-center my-2 my-lg-0 mobile-search-form home-search", id: "location-form" do %>
      <%= text_field_tag :locationsearchnav, "", class: "location-search form-control mr-sm-2", style: "margin-top: 15px;" %>
      <%= submit_tag "Search", class: "btn btn-primary btn-primary my-2 my-sm-0", id: "home-search" %>
    <% end %>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item ml-2">
        <%= link_to "Become a guide", new_listing_path, class: "nav-link" %>
      </li>

      <% if user_signed_in? %>

      <li class="nav-item dropdown ml-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %>&nbsp;&nbsp;<%= cl_image_tag current_user.photos.first.path, crop: :fill, width: 45, height: 45, class: "nav-img-circle" %></a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

          <%= link_to user_path(current_user), class: "dropdown-item" do %>
            <i class="ion ion-person"></i> Profile
          <% end %>

          <div class="dropdown-divider"></div>

          <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
            <i class="ion ion-log-out"></i>&nbsp;Log out
          <% end %>

        </div>

      </li>

      <% else %>

      <!-- Links when logged out -->

      <li class="nav-item ml-2">
        <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "nav-link" %>
      </li>

      <li class="nav-item ml-2">
        <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "nav-link" %>
      </li>

      <% end %>

    </ul>

    <!-- Extra Feature - add search in navbar: CSS = mobile-search-form -->



  </div>
</nav>


<script>
  // Google Maps Autocomplete

  function onPlaceChanged() {
    var place = this.getPlace();
    var listAddress = document.getElementById('locationsearchnav');
  }

  document.addEventListener("DOMContentLoaded", function() {
    var listAddress = document.getElementById('locationsearchnav');
    if (listAddress) {
      var autocomplete = new google.maps.places.Autocomplete(listAddress, { types: ['geocode'] });
      google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
    }
  });
</script>
