<h1 class="text-center">Upcoming</h1>
<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <%= link_to new_listing_event_booking_path(@listing, event, @booking), class: "btn btn-info" do %>
          <h3>Start date: <%= event.start_date %></h3>
          <h3>End date: <%= event.end_date %></h3>
          <h3>Spaces left: <%= event.max_capacity %></h3>
          <p><%= humanized_money_with_symbol(event.price) %></p>
      <% end %>
    <% end %>
  </div>
</div>
