<!-- Jumbotron with search bar -->
<div class="jumbotron text-center" style="background-image: linear-gradient(-180deg, #1111119e 60%, #111111a8 80%), url(https://images.unsplash.com/photo-1502082553048-f009c37129b9?auto=format&fit=crop&w=1500&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);">

  <div class="container justify-content-center pizza">
    <h1 class="display-3">Get Outside.</h1>
    <h2 id="home-h2">Eco friendly adventures</h2>

    <%= form_tag listings_path, method: 'get', class: "form-inline justify-content-center home-search", id: "location-form" do %>
      <%= text_field_tag :locationsearch, "", class: "location-search form-control" %>
      <%= submit_tag "Search", class: "btn btn-primary btn-lg my-2 my-sm-0", id: "home-search" %>
    <% end %>

  </div>
</div>

<div class="expose section-home">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Why travel with us?</h2>
        <h5 class="description">This is the paragraph where you can write more details about your projects. Keep you user engaged by providing meaningful information.</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 ml-auto">
        <div class="card" data-background="image" style="background-image: url('https://images.unsplash.com/photo-1484544808355-8ec84e534d75?auto=format&fit=crop&w=1066&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')">
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="card card-plain">
          <div class="card-body">
            <h6 class="card-category">Find hidden gems</h6>
            <a href="#pablo">
              <h3 class="card-title">Find hidden gems</h3>
            </a>
            <p class="card-description">Artificial intelligence-focused investment funds are a dime a dozen these days. Everyone knows there’s money to be made from AI, but to capture value, good VCs know they need to back products and not technologies.</p>
            <%= link_to "Explore", listings_path, class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 ml-auto">
        <div class="card card-plain">
          <div class="card-body">
            <h6 class="card-category">Sustainable travel</h6>
            <a href="#pablo">
              <h3 class="card-title">Sustainable travel</h3>
            </a>
            <p class="card-description">The United Nations 70th General Assembly has designated 2017 as the International Year of Sustainable Tourism for Development.</p>
            <a class="btn btn-primary btn-lg" target="_blank" href="http://www.tourism4development2017.org/why-tourism/">Why tourism?</a>
          </div>
        </div>
      </div>

      <div class="col-md-5 mr-auto">
        <div class="card" data-background="image" style="background-image: url('https://images.unsplash.com/photo-1490380169520-0a4b88d52565?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')">
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer footer-black footer-big">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 ml-auto mt-auto mb-auto mr-auto ml-auto">
        <%= image_tag("logo_white.svg", height: "110", alt: "Konarciq Logo") %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 ml-auto mr-auto ">
        <div class="links ml-auto mr-auto">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Team
              </a>
            </li>
            <li>
              <a href="#">
                About
              </a>
            </li>
            <li>
              <a href="#">
                Contact
              </a>
            </li>
          </ul>
          <hr>
          <div class="copyright">
            <div class="pull-left">
              By <a href="http://jeremy.weadventure.org" target="_blank" style="color:white">Jeremy Boom</a> <i class="fa fa-heart heart"></i>
              <!-- <script>
                document.write(new Date().getFullYear())
              </script> -->
            </div>
            <div class="pull-right">
              <ul>
                <li>
                  <a href="#">
                    Terms
                  </a>
                </li>
                |
                <li>
                  <a href="#">
                    Privacy
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>

<script>
  // Google Maps Autocomplete

  function onPlaceChanged() {
    var place = this.getPlace();
    var listAddress = document.getElementById('locationsearch');
  }

  document.addEventListener("DOMContentLoaded", function() {
    var listAddress = document.getElementById('locationsearch');
    if (listAddress) {
      var autocomplete = new google.maps.places.Autocomplete(listAddress, { types: ['geocode'] });
      google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
    }
  });
</script>
