<div class="container justify-content-center">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form class="form-signin text-center">

      <h2 class="form-signin-heading">Log in</h2>

      <%= f.input :email, required: false, autofocus: true, class: "pizza form-control input-email", placeholder: "Email address", id: "inputEmail", label: false %>

      <%= f.input :password, required: false, id: "inputPassword", class: "password form-control input-password", placeholder: "Password", label: false %>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <%= f.button :submit, "Sign in", class: "btn btn-lg btn-primary btn-block" %>

      <p></p>

      <p><%= render "devise/shared/links" %></p>

    </form>
  <% end %>
</div>
