<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- TODO Add favicon, already in images folder -->
    <title>Konarciq</title>

    <!-- TODO - Follow this: https://www.lewagon.com/blog/setup-meta-tags-rails -->

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">

  </head>
  <body>
    <% if action_name == "home" || (action_name == "show" && %w(listings users).include?(controller_name)) %>
      <%= render 'shared/navbar_trans' %>
    <% else %>
      <%= render 'shared/navbar_white' %>
    <% end %>

    <%= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>
    <%= yield %>

    <!-- Google Maps -->
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <!-- Owl Caroursel 2 JS files -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js" %>

    <%= javascript_include_tag "application" %>

    <!-- Cloudinary -->
    <%= cloudinary_js_config %>

    <%= yield(:after_js) %>
  </body>
</html>
